html {
    background: url("/images/background.jpg") no-repeat center top fixed;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

#gh-comments-mast {
    bottom: 0;
    position: absolute;
}

.full-width-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mdl-card {
    margin: 5px;
    min-height: 0;
    width: auto;
}

#gh-comments-list .mdl-card__supporting-text, #gh-comments-list .mdl-card__supporting-text * {
    font-size: 2rem;
    line-height: 100%;
}

.mdl-card--banner {
    width:80%;
    min-height:87px;
}

#gh-comments-arrow {
    font-size: xx-large;
}
